header {
    display: inline-block;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0,0,0,0.9);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0px;
    background-attachment: fixed;
}
    .nav {
        display: inline-block;
        margin-top: 30px;

    }
        .logo {
            display: inline-block;
            float: left;
        }
            .logo > a {
                display: inline-block;
                color: rgb(231, 231, 231);
                text-decoration: none;
                font-size: 25px;
                font-weight: normal;
            }
        .links {
            display: inline-block;
            float: right;
        }
            .links > a {
                display: inline-block;
                color: rgb(231, 231, 231);
                text-decoration: none;
                font-size: 17px;
                font-weight: bold; 
                margin-right: 30px; 
                margin-top: calc(15px - 10px);
            }