.box {
    position: relative;
    display: inline-block;
    width: 1200px;
    margin-left: calc(50% - 600px);
    background-color: violet;
    overflow: hidden;
    z-index: 2;
}


@media ( max-width: 1300px ) {
    .box  {
        width: 1150px;
        margin: 0 calc(50% - 575px);
        overflow: hidden;
    }
}
@media ( max-width: 1200px ) {
    .box  {
        width: 1000px;
        margin: 0 calc(50% - 500px);
        overflow: hidden;
    }
}
@media ( max-width: 1100px ) {
    .box  {
        width: 800px;
        margin: 0 calc(50% - 400px);
        overflow: hidden;
    }
}
@media ( max-width: 900px ) {
    .box  {
        width: 700px;
        margin: 0 calc(50% - 350px);
        overflow: hidden;
    }
}
@media ( max-width: 768px ) {
    .box  {
        width: 100%;
        margin: 0;
        overflow: hidden;
    }
}